@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(139, 29, 32, 0.7);
  }
  
  70% {
    transform: scale(1.02);
    box-shadow: 0 0 0 10px rgba(139, 29, 32, 0);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(139, 29, 32, 0);
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}